<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Catamaran|Passion+One" rel="stylesheet">
  <!-- <link href="{ static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<title>Conjugate Tracker</title>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/logosmall.png' %}">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<div class="bodyimage">
    <div class="container">
      <div class="header clearfix">
        <nav role="navigation">
        <a href="/"><div class="logo"></div></a>
          <a data-toggle="collapse" data-target="#header-menu" href="#header-menu">
            <div type="button" class="hamburger_icon collapsed">
            </div>
          </a>
          <ul class="header_menu collapse" id="header-menu">
            <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="/">Home for {{user_name.title}}</a></li>
            <li type="button" role="presentation" class="active header_item bordered_list">
              <a class="default_link" data-toggle="collapse" data-target="#header-menu-log">Log New Movement</a>
              <ul class="collapse" id="header-menu-log">
                <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="{% url 'tracker:squat_new' %}">Add New Squat</a></li>
                <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="{% url 'tracker:bench_new' %}">Add New Bench</a></li>
                <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="{% url 'tracker:deadlift_new' %}">Add New Deadlift</a></li>
                <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="{% url 'tracker:upper_new' %}">Add New Upper Accessory</a></li>
                <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="{% url 'tracker:lower_new' %}">Add New Lower Accessory</a></li>
              </ul>
            </li>
            <li type="button" role="presentation" class="active header_item bordered_list">
              <a class="default_link" data-toggle="collapse" data-target="#header-menu-search">Search Movements</a>
              <ul class="collapse" id="header-menu-search">
                <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="{% url 'tracker:squat_search' %}">Search for Squat</a></li>
                <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="{% url 'tracker:bench_search' %}">Search for Bench</a></li>
                <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="{% url 'tracker:deadlift_search' %}">Search for Deadlift</a></li>
                <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="{% url 'tracker:upper_search' %}">Search Upper Accessories</a></li>
                <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="{% url 'tracker:lower_search' %}">Search Lower Accessories</a></li>
              </ul>
            </li>
                <li type="button" role="presentation" class="active header_item bordered_list"><a class="default_link" href="{% url 'tracker:analysis' %}">Analysis</a></li>
            <li type="button" role="presentation" class="header_item bordered_list"><a class="default_link" href="mailto:admin@conjugatetracker.com">Email Admin</a></li>
            <li type="button" role="presentation" class="header_item bordered_list"><a class="default_link" href="/accounts/logout">Sign Out</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
		{% block content %}
		{% endblock %}

		      <!--<footer class="footer">
		        <!<p>&copy; 2017 Conjugate Tracker</p>
		      </footer>-->
</body>
</html>
