{% extends 'tracker/base.html' %}
{% block content %}

<h1>{{ object.user.username }}</h1>
<p>Created At: {{ object.created_at }}</p>
<p>Bar Type: {{ object.bar_type }}</p>
<p>Floor: {{ object.floor }}</p>
<p>Reverse: {{ object.reverse}}</p>
<p>Standard: {{ object.standard}}</p>
<p>Board: {{ object.board}}</p>
<p>Manpon: {{ object.manpon}}</p>
<p>Pin: {{ object.pin}}</p>
<p>Notes: {{ object.notes}}</p>
<p>Movement Weight: {{ object.movement_weight}}</p>
<p>Movement Reps: {{ object.movement_reps}}</p>

{% endblock %}