{% extends 'tracker/base.html' %}
{% block content %}
<a style="margin-top: 15px" class="btn btn-1" href="{% url 'tracker:bench_edit' pk=object.pk %}">Edit</a>

<h1>{{ object.user.username }}</h1>

<p><h4><b>Created: </b>{{ object.created_at }}</h4></p>

<p><h4><b>Effort Type: </b> {{ object.effort_type }}</h4></p>

<p><h4><b>Bar Type: </b> {{ object.bar_type }}</h4></p>

{% if object.floor == True %}
<p><h4><b>Floor: </b> {{ object.floor }}</h4></p>
{% endif %}

{% if object.reverse == True %}
<p><h4><b>Reverse: </b>{{ object.reverse}}</h4></p>
{% endif %}

{% if object.board == True %}
<p><h4><b>Board: </b>{{ object.board}}</h4></p>
{% endif %}

{% if object.manpon == True %}
<p><h4><b>Manpon: </b>{{ object.manpon}}</h4></p>
{% endif %}

{% if object.pin == True %}
<p><h4><b>Pin: </b>{{ object.pin}}</h4></p>
{% endif %}

<p><h4><b>Bands Type: </b>{{ object.bands_type}}</h4></p>
<p><h4><b>Chain Weight: </b>{{ object.chain_weight}}</h4></p>
<p><h4><b>Movement Weight: </b>{{ object.movement_weight}}</h4></p>
<p><h4><b>Sets: </b>{{ object.movement_sets}}</h4></p>
<p><h4><b>Reps: </b>{{ object.movement_reps}}</h4></p>
<p><h4><b>Media URL: </b><a href="{{ object.media_url}}">{{object.media_url}}</a></h4></p>
<p><h4><b>Notes: </b>{{ object.notes}}</h4></p>
{% endblock %}
