{% extends 'tracker/base.html' %}
{% block content %}
<h3>Search Bench Movements</h3>
<form action="{% url 'tracker:bench_search' %}" method="get">
    <p><label for="id_effort_type_0">Day:</label> <ul id="id_effort_type"><li><label for="id_effort_type_0"><input id="id_effort_type_0" name="effort_type" type="radio" value="Dynamic" /> Dynamic Effort</label></li>
<li><label for="id_effort_type_1"><input id="id_effort_type_1" name="effort_type" type="radio" value="Max" /> Max Effort</label></li></ul></p>
<p><label for="id_bar_type">Bar Type:</label> <select id="id_bar_type" name="bar_type">
<option value=""></option>
<option value="Straight">Straight</option>
<option value="Cambered">Cambered</option>
<option value="Bow">Bow</option>
<option value="Football Bar">Football Bar</option>
</select></p>
<p><label for="id_floor">Floor Press:</label> <input id="id_floor" name="floor" type="checkbox" value="True"/></p>
<p><label for="id_reverse">Reverse Band:</label> <input id="id_reverse" name="reverse" type="checkbox" value="True"/></p>
<p><label for="id_board">Board:</label> <input id="id_board" name="board" type="checkbox" value="True"/></p>
<p><label for="id_manpon">Manpon:</label> <input id="id_manpon" name="manpon" type="checkbox" value="True"/></p>
<p><label for="id_pin">Pin:</label> <input id="id_pin" name="pin" type="checkbox" value="True"/></p>
<p><label for="id_bands_type">Band Type:</label> <select id="id_bands_type" name="bands_type">
<option value=""></option>
<option value="None">None</option>
<option value="Micro mini">Micro Mini</option>
<option value="Mini">Mini</option>
<<option value="Monster Mini">Monster Mini</option>
<option value="Light">Light</option>
<option value="Average">Average</option>
<option value="Heavy">Heavy</option>
</select></p>
<p><label for="id_chain_weight">Chain weight:</label> <input id="id_chain_weight" name="chain_weight" type="number" /></p>
<p><label for="id_movement_weight">Bar Weight:</label> <input class="form-control" id="id_movement_weight" name="movement_weight" placeholder="Example: 150" type="number"  /></p>
<p><label for="id_movement_sets">Sets:</label> <input class="form-control" id="id_movement_sets" name="movement_sets" placeholder="Example: 1" type="number" /></p>
<p><label for="id_movement_reps">Reps:</label> <input class="form-control" id="id_movement_reps" name="movement_reps" placeholder="Example: 1" type="number" /></p>
<p><label for="id_bench_notes">Bench notes:</label> <input class="form-control" id="id_bench_notes" maxlength="300" name="bench_notes" placeholder="Add Bench Notes Here" type="text" /></p>
<p><label for="id_media_url">Media url:</label> <input class="form-control" id="id_media_url" name="media_url" placeholder="Add Media URL Here" type="text" /></p>
    <input type="submit" value="Search" class="btn btn-1" />
</form>

{% if not objects %}
<h2> No Results. Please search again..</h2>
{% else %}
<h2>Results</h2>
{% endif %}

{% for object in objects %}
<h3>
    - <a class="default_link "href="{% url 'tracker:bench_detail' object.id %}">{{ object.bar_type }} Bar Bench on {{ object.created_at }}, ({{object.effort_type}} Effort, Weight:{{object.movement_weight}})</a>
</h3>
{% endfor %}

{% endblock %}
