{% extends 'tracker/base.html' %}
{% block content %}


      <!-- The justified navigation menu is meant for single line per list item.
      Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="row marketing">
        <div class="col-lg-6">
          <h3><b>Squat Movements</b></h3>
          {% if latest_squat_list %}
          <ul>
              {% for squat in latest_squat_list %}
              <li><a href="{% url 'tracker:squat_detail' squat.id %}">{{ squat.bar_type }} Bar, {{ squat.effort_type }} Effort, {{ squat.created_at}}</a></li>
              {% endfor %}
          </ul>
          {% else %}
          <p>No squats recorded. Shame.</p>
          {% endif %}

          <p><a class="btn btn-primary" href="{% url 'tracker:squat_new' %}" role="button">Add New &raquo;</a>
              <a class="btn btn-info" href="{% url 'tracker:squat_search' %}" role="button">Search Squats &raquo;</a></p>

          <h3><b>Bench Movements</b></h3>
          {% if latest_bench_list %}
          <ul>
              {% for bench in latest_bench_list %}
              <li><a href="{% url 'tracker:bench_detail' bench.id %}">{{ bench.bar_type }} Bar, {{ bench.effort_type}} Effort, {{ bench.created_at }}</a></li>
              {% endfor %}
          </ul>
          {% else %}
          <p>No benchs recorded. Shame.</p>
          {% endif %}
          <p><a class="btn btn-primary" href="{% url 'tracker:bench_new' %}" role="button">Add New &raquo;</a>
          <a class="btn btn-info" href="{% url 'tracker:bench_search' %}" role="button">Search Bench &raquo;</a></p>

        </div>

        <div class="col-lg-6">
          <h3><b>Deadlift Movements</b></h3>
          {% if latest_deadlift_list %}
          <ul>
              {% for deadlift in latest_deadlift_list %}
              <li><a href="{% url 'tracker:deadlift_detail' deadlift.id %}">Deadlift, {{ deadlift.effort_type}} Effort, {{ deadlift.sumo_conventional}}, {{ deadlift.created_at }}</a></li>
              {% endfor %}
          </ul>
          {% else %}
          <p>No deadlifts recorded. Really?</p>
          {% endif %}


          <p><a class="btn btn-primary" href="{% url 'tracker:deadlift_new' %}" role="button">Add New &raquo;</a>
          <a class="btn btn-info" href="{% url 'tracker:deadlift_search' %}" role="button">Search Deadlift &raquo;</a></p>

          <h3><b>Lower Accessory Movements</b></h3>
          {% if latest_loweraccessory_list %}
          <ul>
              {% for loweraccessory in latest_loweraccessory_list %}
              <li><a href="{% url 'tracker:lower_detail' loweraccessory.id %}">Lower Accessory Movement on {{ loweraccessory.created_at }}</a></li>
              {% endfor %}
          </ul>
          {% else %}
          <p>No lower accessories recorded. Shame.</p>
          {% endif %}

          <p><a class="btn btn-primary" href="{% url 'tracker:lower_new' %}" role="button">Add New  &raquo;</a></p>
          <a class="btn btn-info" href="{% url 'tracker:lower_search' %}" role="button">Search Lower Accessory &raquo;</a></p>

          <h3><b>Upper Accessory Movements</b></h3>
          {% if latest_upperaccessory_list %}
          <ul>
              {% for upperaccessory in latest_upperaccessory_list %}
              <li><a href="{% url 'tracker:upper_detail' upperaccessory.id %}">Upper Accessory Movement on {{ upperaccessory.created_at }}</a></li>
              {% endfor %}
          </ul>
          {% else %}
          <p>No upper accessories recorded. Shame.</p>
          {% endif %}

          <p><a class="btn btn-primary" href="{% url 'tracker:upper_new' %}" role="button">Add New</a></p>
          <a class="btn btn-info" href="{% url 'tracker:upper_search' %}" role="button">Search Upper Accessory&raquo;</a></p>
        </div>
      </div>

 <!-- /container -->




{% endblock %}
