<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Catamaran|Passion+One" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<title>Conjugate Tracker</title>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/logosmall.png' %}">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body style="background-image: none">

  <div class="landing_page">

    <div class="landing_page_overlay">

      <div id="splash_text">

        <h3>Welcome to </h3>

        <h1>Conjugate Tracker</h1>
        <h4>Helping you to log, track and search through your conjugate workouts</h4>



      <div class="landing_page_button">

        <a href="accounts/login/"><button type= "button" class="btn btn-primary btn-1 btn-lg btn-block">Log In</button></a>

      </div>

      <div class="landing_page_button">

        <a href="accounts/login"><button type= "button" class="btn btn-primary btn-1 btn-lg btn-block" disabled>Sign Up</button></a>

      </div>

      </div>

    </div>

  </div>

  <div class="landing_page_row">

    <div class="content_container">

      <div class="one_third_column">
        <img class="landing_page_icon" src="static/images/loggingicon.png">
        <h3 style="font-size: 35px">Logging</h3>
        <p style="font-size: 18px; color: #888">Record your workouts and attach videos and photos</p>
      </div>

      <div class="one_third_column">
        <img class="landing_page_icon" src="static/images/searchicon.png">
        <h3 style="font-size: 35px">Searching</h3>
        <p style="font-size: 18px; color: #888">Quickly find your previous movement history and personal records</p>
      </div>

      <div class="one_third_column">
        <img class="landing_page_icon" src="static/images/analysisicon.png">
        <h3 style="font-size: 35px">Analyzing</h3>
        <p style="font-size: 18px; color: #888">Track your progress over time through data analysis and video review</p>
      </div>

    </div>

  </div>

</body>

</html>
