{% extends 'tracker/base.html' %}
{% block content %}
<h1>Search Lower Accessories</h1>

<select class="dropdown" id="LowAcc" onchange="ToggleEntry()">
  <option>Select all accessories</option>
  <option value="id_top_set">Top Set</option>
  <option value="id_ab_movement">Ab Movement</option>
  <option value="id_back_extension">Back Extension</option>
  <option value="id_belt_squat">Belt Squat</option>
  <option value="id_chair_dl">Chair Deadlift</option>
  <option value="id_dimel_dl">Dimel Deadlift</option>
  <option value="id_front_squat">Front Squat</option>
  <option value="id_ghr">Glute Ham Raise</option>
  <option value="id_good_morning">Good Morning</option>
  <option value="id_hack_squat">Hack Squat</option>
  <option value="id_hip_bridge">Hip Bridge</option>
  <option value="id_inverse_curl">Inverse Curl</option>
  <option value="id_leg_curl">Leg Curl</option>
  <option value="id_leg_press">Leg Press</option>
  <option value="id_lunge">Lunge</option>
  <option value="id_reverse_hyper">Reverse Hyper</option>
  <option value="id_step_up">Step Up</option>
  <option value="id_stiff_leg_dl">Stiff Leg Deadlift</option>
  <option value="id_other">Other</option>
  <option value="id_notes">Notes</option>
</select>

<form action="{% url 'tracker:lower_search' %}" method="get">
    {{ form.as_p }}
    <input type="submit" value="Search" class="btn btn-1"/>
</form>

<script type="text/javascript">

window.onload = function() {
  HideList();
}

  function HideList() {
    var form = document.getElementsByTagName('form')[0];
    for (var i = 0; i < form.children.length - 1; i++) {

      form.children[i].style.display = 'none';
    }
}

function ToggleEntry() {
  var select = document.getElementById('LowAcc');
  var selectedId = select.options[select.selectedIndex].value;
  var targetElement = document.getElementById(selectedId);
  var parentElement = targetElement.parentElement;

  parentElement.style.display = 'block';
  if (selectedId != 'id_created_at') {
    targetElement.value = 'true';
    targetElement.style.display = 'none';
  }

}

</script>
{% if not objects %}
<h2> No Results. Please search again..</h2>
{% else %}
<h2>Results</h2>
{% endif %}

{% for object in objects %}
<h3>
    - <a class="default_link" href="{% url 'tracker:lower_detail' object.id %}">{{ object.created_at }}: Lower Movement</a>
</h3>
{% endfor %}

{% endblock %}
