{% extends 'tracker/base.html' %}
{% block content %}

<h1>{{ object.user.username }}</h1>
<p>Created At: {{ object.created_at }}</p>
<p>Top Set: {{ object.top_set }} </p>
<p>Chair Deadlift: {{ object.chair_dl }} </p>
<p>Glute Ham Raise: {{ object.ghr }} </p>
<p>Lunge: {{ object.lunge }} </p>
<p>Dimel Deadlift: {{ object.dimel_dl }} </p>
<p>Reverse Hyper: {{ object.reverse_hyper }} </p>
<p>Hip Bridge: {{ object.hip_bridge }} </p>
<p>Good Morning: {{ object.good_morning }} </p>
<p>Step Up: {{ object.step_up }} </p>
<p>Belt Squat: {{ object.belt_squat }} </p>
<p>Hack Squat: {{ object.hack_squat }} </p>
<p>Leg Press: {{ object.leg_press }} </p>
<p>Leg Curl: {{ object.leg_curl }} </p>
<p>Stiff Leg Deadlift: {{ object.stiff_leg_dl }} </p>
<p>Inverse Curl: {{ object.inverse_curl }} </p>
<p>Front Squat: {{ object.front_squat }} </p>
<p>Back Extension: {{ object.back_extension }} </p>

{% endblock %}