{% extends 'tracker/base.html' %}
{% block content %}

<h1>{{ object.user.username }}</h1>
<p>Created At: {{ object.created_at }}</p>
<p> Top Set: {{object.top_set}}</p>
<p> Close Grippness: {{object.close_grippness}}</p>
<p> Tate Press: {{object.tate_press}}</p>
<p> Dips: {{object.dips}}</p>
<p> Reverse Dumbbell Fly: {{object.rev_db_fly}}</p>
<p> Windmills: {{object.windmills}}</p>
<p> Bamboo Bar: {{object.bamboo_bar}}</p>
<p> Lat Pulldowns: {{object.lat_pulldowns}}</p>
<p> Lat Pullovers: {{object.lat_pullovers}}</p>
<p> Pec Dec: {{object.pec_dec}}</p>
<p> Reverse Pec Dec:  {{object.reverse_pec_dec}}</p>
<p> T Bar Rows: {{object.t_bar_rows}}</p>
<p> Chest Supported Rows:  {{object.chest_supported_rows}}</p>
<p> Low Rows: {{object.low_rows}}</p>
<p> Pullups: {{object.pullups}}</p>
<p> Inverted Row: {{object.inverted_row}}</p>
<p> Face Pulls: {{object.face_pulls}}</p>
<p> Dumbbell Rows: {{object.db_rows}}</p>
<p> Dumbbell Press: {{object.db_press}}</p>
<p> Pullaparts: {{object.pullaparts}}</p>
<p> Tri Extensions: {{object.tri_extensions}}</p>
<p> Skull Crushers: {{object.skull_crushers}}</p>
<p> Jam Press: {{object.jam_press}}</p>
<p> OLT Press: {{object.olt_press}}</p>
<p> Dumbbell Roll: {{object.db_rollbacks}}</p>
<p> Dead Press: {{object.dead_press}}</p>

{% endblock %}