{% extends 'tracker/base.html' %}
{% block content %}
<a class="btn btn-primary" href="{% url 'tracker:upper_edit' pk=object.pk %}">Edit</a>

<h1>{{ object.user.username }}</h1>
<p><h4><b>Created: </b>{{ object.created_at }}</h4></p>

{% if object.top_set != '' %}
<p><h4><b> Top Set: </b>{{object.top_set}}</h4></p>
{% endif %}

{% if object.close_grippness != '' %}
<p><h4><b> Close Grip Press: </b>{{object.close_grippness}}</h4></p>
{% endif %}

{% if object.tate_press != '' %}
<p><h4><b> Tate Press: </b>{{object.tate_press}}</h4></p>
{% endif %}

{% if object.dips != '' %}
<p><h4><b> Dips: </b>{{object.dips}}</p>
{% endif %}

{% if object.rev_db_fly != '' %}
<p><h4><b> Reverse Dumbbell Fly: </b>{{object.rev_db_fly}}</h4></p>
{% endif %}

{% if object.windmills != '' %}
<p><h4><b> Windmills: </b> {{object.windmills}}</h4></p>
{% endif %}

{% if object.bamboo_bar != '' %}
<p><h4><b> Bamboo Bar: </b>{{object.bamboo_bar}}</h4></p>
{% endif %}

{% if object.lat_pulldowns != '' %}
<p><h4><b> Lat Pulldowns:</b> {{object.lat_pulldowns}}</h4></p>
{% endif %}

{% if object.lat_pullovers != '' %}
<p><h4><b> Lat Pullovers: </b>{{object.lat_pullovers}}</h4></p>
{% endif %}

{% if object.pec_dec != '' %}
<p><h4><b> Pec Dec: </b>{{object.pec_dec}}</h4></p>
{% endif %}

{% if object.reverse_pec_dec != '' %}
<p><h4><b> Reverse Pec Dec:  </b>{{object.reverse_pec_dec}}</h4></p>
{% endif %}

{% if object.t_bar_rows != '' %}
<p><h4><b> T Bar Rows: </b>{{object.t_bar_rows}}</h4></p>
{% endif %}

{% if object.chest_supported_rows != '' %}
<p><h4><b> Chest Supported Rows:  </b>{{object.chest_supported_rows}}</h4></p>
{% endif %}

{% if object.low_rows != '' %}
<p><h4><b> Low Rows: </b>{{object.low_rows}}</h4></p>
{% endif %}

{% if object.pullups != '' %}
<p><h4><b> Pullups: </b>{{object.pullups}}</h4></p>
{% endif %}

{% if object.inverted_row != '' %}
<p><h4><b> Inverted Row: </b>{{object.inverted_row}}</h4></p>
{% endif %}

{% if object.face_pulls != '' %}
<p><h4><b> Face Pulls: </b>{{object.face_pulls}}</h4></p>
{% endif %}

{% if object.db_rows != '' %}
<p><h4><b> Dumbbell Rows: </b>{{object.db_rows}}</h4></p>
{% endif %}

{% if object.db_press != '' %}
<p><h4><b> Dumbbell Press: </b>{{object.db_press}}</h4></p>
{% endif %}

{% if object.pullaparts != '' %}
<p><h4><b> Pullaparts: </b>{{object.pullaparts}}</h4></p>
{% endif %}

{% if object.tri_extensions != '' %}
<p><h4><b> Tricep Extensions: </b>{{object.tri_extensions}}</h4></p>
{% endif %}

{% if object.skull_crushers != '' %}
<p><h4><b> Skull Crushers: </b>{{object.skull_crushers}}</h4></p>
{% endif %}

{% if object.jam_press != '' %}
<p><h4><b> JM Press: </b>{{object.jam_press}}</h4></p>
{% endif %}

{% if object.olt_press != '' %}
<p><h4><b> Overhead Press: </b>{{object.olt_press}}</h4></p>
{% endif %}

{% if object.db_rollbacks != '' %}
<p><h4><b> Dumbbell Rollbacks: </b>{{object.db_rollbacks}}</h4></p>
{% endif %}

{% if object.dead_press != '' %}
<p><h4><b> Dead Press:</b> {{object.dead_press}}</h4></p>
{% endif %}

<p><h4><b>Media URL: </b>{{ object.media_url}}</h4></p>
<p><h4><b>Notes: </b>{{ object.notes}}</h4></p>

{% endblock %}
