

ul {
  list-style-type: none;
  padding: 0;
}

.page_format {
  margin: 15px;
}

.bordered_list {
  border-bottom: solid 1px #fff;
  margin-bottom: 5px;
  padding: 5px;
  font-weight: bold;

}

.hamburger_icon {
  float: right;
  width: 40px;
  height: 40px;
  background-image: url(../images/menu-icon.png);
  background-size: contain;
  margin-top: 20px;
}

.header_menu {
  width: 100%;
  float: left;
  height: auto;
}

.header_item {
  float: right;
  width: 100%;
  text-align: right;
}

.logo {
  width: 180px;
  height: 90px;
  float: left;
  background-image: url(../images/logotransparency.png);
  background-size: contain;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  /*border-bottom: 1px solid #e5e5e5;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.dropdown {
  margin-bottom: 20px;
  font-size: 14px;
}

.landing_page {
  background-image: url("/static/images/splash_image_desktop.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  float: left;
}

.landing_page_overlay {
  width: 100%;
  height: 100vh;
  float: left;
  background-color: rgba(0, 0, 0, .5);
  position: relative;
}

#splash_text {
  width: 80%;
  position: absolute;
  left: 80px;
  bottom: 80px;
}

#splash_text > h1 {
  color: white;
  font-size: 100px;
}

#splash_text > h3 {
  color: white;
  font-size: 50px;

}

#splash_text > h4 {
  color: white;
  font-size: 35px;
  width: 60%;
}

.landing_page_button {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.landing_page_row {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 100px;
  margin-top: 100px;

}

.content_container {
  width: 960px;
  height: auto;
  margin: auto;
}

.landing_page_icon {
  height: 150px;
  background-size: contain;
  background-position: center;
}

.one_third_column {
  width: 33.33%;
  padding: 2.5%;
  float: left;
  text-align: center;
}

.home_page_text {
  margin-top: 40px;
  float: left;
  border-bottom: 1px #e5e5e5 solid;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
}

.home_page_icon {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}



/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  }
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width:768px) {


    #splash_text {
      width: 80%;
      position: absolute;
      left: 40px;
      bottom: 40px;
    }

    #splash_text > h1 {
      font-size: 50px;
    }

    #splash_text > h3 {
      font-size: 25px;

    }

    #splash_text > h4 {
      font-size: 20px;
      width: 60%;
    }

    .one_third_column {
      width: 100%;
      padding: 5%;
      float: left;
      text-align: center;
    }

    .content_container {
      width: 100%;
  }
}

body {
	background-image: url("/static/images/newdiamondplate.jpg");
  background-attachment: fixed;
  color:#FFF;
  margin: 15px;
}

.container {
	border-radius:5px;
}
.bodyimage {
	margin:15px;

}

div {
	font-family: 'Catamaran', sans-serif;
  font: white;

}

a.default_link {
  color: white;
}

.btn-1 {
  background-color: #d40f1b;
  border-color: white;
  color:white;
  width:100%;
}


.btn-2 {
  background-color: #c45865;
  border-color: white;
  color:white;
}

select {
  color: white;
  background: none;
}

option {
  background-color: rgba(0, 0, 0, 0.8);
}

input {
  color: white;
  background: none;
}

.form-control {
  color: white;
  background: none;
}
