

ul {
  list-style-type: none;
}

.hamburger_icon {
  float: right;
  width: 40px;
  height: 40px;
  background-image: url(../images/menu-icon.png);
  background-size: contain;
  margin-top: 20px;
}

.header_menu {
  width: 100%;
  float: left;
  height: auto;
}

.header_item {
  float: right;
  width: 100%;
  text-align: right;
}

.logo {
  width: 180px;
  height: 90px;
  float: left;
  background-image: url(../images/logotransparency.png);
  background-size: contain;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.dropdown {
  margin-bottom: 20px;
  font-size: 14px;
}

.landing_page {
  background-image: url("/static/images/splash_image_desktop.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  float: left;
}

.landing_page_overlay {
  width: 100%;
  height: 100vh;
  float: left;
  background-color: rgba(0, 0, 0, .5);
}

#splash_text {
  padding-top: 45vh;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;

}

#splash_text > h1 {
  color: white;
  font-size: 100px;
}

#splash_text > h3 {
  color: white;
  font-size: 50px;

}

#splash_text > h4 {
  color: white;
  font-size: 35px;
  width: 60%;
}

#landing_page_button {
  width: 50%;
  padding-left: 10%;
  padding-top: 50px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

body {
	background:white;
	background-image: url("/static/images/diamondplate.jpg");

}

.container {
	border-radius:5px;
}
.bodyimage {
	margin:15px;
  background-color: rgba(255, 255, 255, .8);
}

div {
	font-family: 'Catamaran', sans-serif;

}
